<!DOCTYPE html>
<html>
    <head>
        <title>MiMi</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="shortcut icon" href="https://user-images.githubusercontent.com/73644202/150535491-d3ada2b9-893d-42f3-a990-f8e5aabee260.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="main">
            <nav class="bg-white">
                <div class="container flex flex-row items-left">
                    <a href="#" class="flex px-2">
                        <span class="self-center text-lg font-semibold whitespace-nowrap text-blue-400 hover:text-black">MiMi</span>
                    </a>
                    <form class="flex">
                        <div class="relative text-gray-600 focus-within:text-gray-400">
                            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                              <button type="submit" class="p-1 focus:outline-none focus:shadow-outline">
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-4 h-4"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                              </button>
                            </span>
                            <input type="search" name="q" class="py-2 text-sm text-white bg-white rounded-md pl-10 focus:outline-none focus:bg-white focus:text-gray-900" placeholder="Search..." autocomplete="off">
                          </div>
                    </form>
                </div>
            </nav>
            <div class="flex flex-col shadow-xl rounded w-64 mx-auto pt-4">
                <form class="flex-col space-y-3 m-auto p-2" method="post">
                    <input class="border-solid border-b-2 border-gray-300 focus:outline-none text-sm" placeholder="email" name="email" type="email" >
                    <input class="border-solid border-b-2 border-gray-300 focus:outline-none text-sm" placeholder="username" name="username" required  autocomplete="off">
                    <input class="border-solid border-b-2 border-gray-300 focus:outline-none text-sm" placeholder="password" type="password" name="password" required  autocomplete="off" minlength="6">
                    <button class="bg-white rounded-b-sm w-56 text-gray-400 content-center hover:text-black focus:outline-none" type="submit">Create Account</button>
                    <div>
                        <a href="/auth/login" class="text-gray-400 hover:text-black text-sm">Already have an account?</a>
                    </div>
                    <div>
                        <a href="/forgot-password" class="text-gray-400 hover:text-black text-sm">Forgot your password?</a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>