<!DOCTYPE html>
<html>
    <head>
        <title>MiMi</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="shortcut icon" href="https://user-images.githubusercontent.com/73644202/150535491-d3ada2b9-893d-42f3-a990-f8e5aabee260.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="main">
            <div class="nav-bar">
                <ul class="flex">
                    <li class="mr-6">
                      <a class="text-blue-500 hover:text-blue-800" href="#">Active</a>
                    </li>
                    <li class="mr-6">
                      <a class="text-blue-500 hover:text-blue-800" href="#">Link</a>
                    </li>
                    <li class="mr-6">
                      <a class="text-blue-500 hover:text-blue-800" href="#">Link</a>
                    </li>
                    <li class="mr-6">
                      <a class="text-gray-400 cursor-not-allowed" href="#">Disabled</a>
                    </li>
                  </ul>    
            </div>
            <div class="display-row">
                <div class="login-form">
                    HEllo
                </div>
            </div>
        </div>
    </body>
</html>